# test
.coverage
.godog

# os x files
*.DS_Store

# log
*.log

# binary
main
btc
main-consumer

# development data
development/timescaledb
development/rabbitmq
development/redis
development/schemaspy

# vendor
vendor/

# html
*.html